footer.bg-gray-700.py-4.text-white.font-bold.font-mono.mt-8
    ul.flex.justify-center.gap-8.flex-wrap
        li.hover_underline
            a(href="https://github.com/knapptr/",target="_blank") Github
        li.hover_underline
            a(href="mailto:knapptr@gmail.com") Knapptr@gmail.com 